<header>
    <h1>Bricolage</h1>
    <nav>
      <div ng-controller="KeywordSearch">
        <input ng-model="keywordSearch" placeholder="Recherche par mot-clés : angular, nodejs" id="keyword" type="text" typeahead="keyword for keyword in keywords | filter:$viewValue" autofocus>
      </div>
      <div ng-controller="KeywordList">
        <ul>
            <li ng-model="keywordList" ng-repeat="keyword in keywords | orderBy:keyword">[[keyword]]</li>
        </ul>
      </div>
    </nav>
</header>



