<!DOCTYPE html>
<html lang="fr" ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Bricolage</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/css/highlight/tomorrow-night.css">
    <script type="text/preloaded">{{ data | json | raw }}</script>
  </head>
  <body>
    <div class="container-fluid"> 
      {% include 'partials/header.html' %}  
      {% block content %}{% endblock %}   
    </div>
    
    <script type="text/javascript" src="/assets/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/assets/lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="/assets/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/assets/lib/angular-preloaded/build/angular-preloaded.js"></script>
    <script type="text/javascript" src="/assets/js/controller.app.js"></script>
    <script type="text/javascript" src="/assets/js/highlight.pack.js"></script>
  </body>
</html>