<!DOCTYPE html>
<html lang="fr" ng-app="bricolage">
  <head>
    <meta charset="UTF-8">
    <title>Bricolage</title>
  </head>
  <body>

    <header>
      <h1>Bricolage</h1>
      <nav>
        <ul>
          <li>Menu 1</li>
          <li>Menu 2</li>
        </ul>
      </nav>
    </header>

    {% block content %}{% endblock %}   

    <footer>
      &copy; footer
    </footer>

    <script type="text/javascript" src="/components/angular/angular.js"></script>
    <script type="text/javascript" src="/js/controller.bricolage.js"></script>
  </body>
</html>